* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightcyan;
    font-family: Tahoma, Verdana, sans-serif;
}

h1 {
    font-size: 42px;
    color: rgb(34, 34, 204);
    margin: 10px;
    text-align: center;
}

h2 {
    margin: 20px;
    font-size: 32px;
    color: rgba(42, 44, 133, 0.836);
    text-decoration: underline;
}

p, .Ingredients>li, .Steps>li {
    font-size: 20px;
}

img {
    border: black 5px dashed;
    height: 450px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.link_home{
    display: block;
    font-size: 30px;
    color: green;
    background-color: rgb(38, 218, 38);
}

.link_box{
    width: 420px;
    list-style-type: none;
    border: 6px lightgreen solid;
    margin: 0 auto;
}

.link_box a {
    text-align: center;
    font-size: 32px;
    color: aliceblue;
    display: block;
    background-color: lightblue;
    padding: 15px 0;
    border: 1px solid black;
}

.recipe {
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.Description{
    text-align: left;
}

.Ingredients{
    text-align: left;
    list-style-type: none;
}

.Steps{
    text-align: left;
    margin-bottom: 15px;
}